.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh; // full viewport
    overflow: hidden;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.backdrop {
    position: fixed;
    top: -10vh;
    left: 0;
    width: 100%;
    height: 120vh;
    pointer-events: none;
    z-index: 0;
}

.media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}