/* src/styles/components/ParallaxText.module.scss */

.wrapper {
    background-color: var(--background-color);
    color: var(--text-color);
}

.section {
    position: relative;
    height: 100vh;
    /* important : 100vh strict */
    --pad: 12px;
}

/* Média sticky (image/vidéo) */
.media {
    position: sticky;
    top: var(--pad);
    height: calc(100vh - (var(--pad) * 2));
    width: 100%;
    overflow: hidden;
    z-index: 0;

    will-change: transform, opacity;
    transform: translateZ(0);
    background-size: cover;
    background-position: center;

    pointer-events: none;
    /* ne capte pas la molette */
}

/* Overlay titre centré */
.overlay {
    position: sticky;
    top: var(--pad);
    height: calc(100vh - (var(--pad) * 2));
    z-index: 2;

    display: grid;
    place-items: center;
    text-align: center;
    padding: 0 1rem;

    pointer-events: none;

    h1 {
        font-weight: var(--font-light);
        line-height: 1.2;
        color: var(--text-color);
        mix-blend-mode: difference;
        font-size: var(--font-size-xxl);
    }
}

/* voile décoratif */
.fade {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.1);
}